@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#1c1c1c ;
  --foreground: #ffffff;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: all .5s linear;
  overflow-x:hidden ;
}


nav ul li:hover{
  color: deeppink;
}

input , textarea{
  width: 400px;
  background: #2f2c2e;
  padding: 10px 20px;
  border-radius: 20px;
  resize: none;
  outline: none;
}
input:focus , textarea:focus{
  outline: 2px solid #e90074;
  color: #e90074;
}
iframe{
  border-radius: 20px;
}
button{
  transition: all .3s linear;
}
button:hover{
  background-color: #660088;
  color: white;
}


@media (max-width: 920px){
  input , textarea{
    width: 350px;
  }
  iframe{
    width: 300px;
  }
}

@media (max-width: 768px){
  input , textarea{
    width: 300px;
  }
  iframe{
    width: 250px;
  }
}
@media (max-width: 640px){
  input , textarea{
    width: 400px;
  }
  iframe{
    width: 400px;
  }
}

@media (max-width: 450px){
  input , textarea{
    width: 300px;
  }
  iframe{
    width: 300px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
